<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mybatis.sql.finance_info_mapper">

	<select id = "Finance_InfoOneData" resultType = "Finance_InfoVO" parameterType = "Finance_InfoVO">		
		SELECT *
		FROM finance_info
	</select>
</mapper>
 		